# Diretórios de compilação e artefatos

target/
build/
classes/

# Arquivos de log e cache

*.log
*.cache
*.tmp

# Arquivos de configuração local

**/application.properties
**/application.yml
**/bootstrap.yml
**/local.properties

# IDE e arquivos de configuração específicos

**/.idea/
**/.project
**/.classpath
**/.settings/

# Arquivos binários e pastas

*.iml
*.class
*.jar

# Diretórios de documentação

**/doc/
**/javadoc/

# Pastas de testes

**/test/
**/src/test/

# Arquivos temporários do Maven

**/target/m2e-plugin-testing-maven-plugin/target**

# Arquivos de ambiente de desenvolvimento local

**/env/*